/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, div, nav, a, form, input, select, button, label, ul, li, br {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 2rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #007bff;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0056b3;
}

.nav-link.active {
    font-weight: bold;
}

.dropdown-item {
    color: #dc3545;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.dropdown-item:hover {
    color: #c82333;
}

/* Search form styles */
.search-form {
    display: flex;
    align-items: center;
}

.search-form label {
    margin-right: 0.5rem;
    font-weight: bold;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.search-form input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Container styles */
.container, .content, .form-container, .profile-container, .search-results-container {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

/* Profile actions styles */
.profile-actions {
    margin-bottom: 2rem;
}

.profile-action-list {
    list-style: none;
    padding: 0;
}

.profile-action-link {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.profile-action-link:hover {
    color: #0056b3;
}

/* Ads container styles */
.profile-content {
    display: flex;
}

.ads-container {
    flex: 2;
    margin-right: 2rem;
    left: 0;
}

.ad-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.ad-item {
    margin-bottom: 1rem;
}

.ad-link, .ad-edit-link, .ad-delete-link {
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.ad-link:hover, .ad-edit-link:hover, .ad-delete-link:hover {
    color: #0056b3;
}

.ad-delete-link {
    color: #dc3545;
}

.ad-delete-link:hover {
    color: #c82333;
}

/* User info container styles */
.info-container {
    flex: 1;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    right: 0;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.info-list li span {
    font-weight: bold;
    color: #333;
}

/* Form styles */
.ad-form {
    width: 60%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control, .form-control-file{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-text{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn1 {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Warning message styles */
.opozorilo {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

/* No results message styles */
.no-results {
    color: #ff0000;
    font-weight: bold;
    margin-top: 1rem;
}

.target {
    color: #dc3545;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    transition: color 0.3s;
    text-align: right;
}

.target:hover {
    color: #c82333;
}
