%rebase('osnovna.html', naslov='index', stran='index')

  
<div class="search-results-container">
  <h2>Nekaj naključnih oglasov:</h2>  
  <div class="ads-list">
    %for oglas in oglasi:
      %oglas_url= url('oglas', x=oglas.id)
        <a href="{{oglas_url}}" class="ad-link">{{oglas.naslov}}</a><br>
        %if oglas.slika is not None:
        %url_stat = url('static_images',filename=oglas.slika)
        <img src="{{url_stat}}" alt="Prodajalec ni priložil nobene slike." style="max-width:100px;width:100%">
        %end
        %if oglas.opis is not None:
          %if len(oglas.opis) > 50:
              %te = oglas.opis[:50]
              %te = te + "..."
              <p>{{te}}</p>                        
          %else:
              <p>{{oglas.opis}}</p>
          %end
        %else:
          <p>Ta oglas je žal brez opisa.</p>
        %end
    %end
        </div>
</div>

<div class="search-results-container">
  <h2>Nazadnje dodani oglasi:</h2>  
  <div class="ads-list">
  %for oglas in zadnji_oglasi:
    %oglas_url= url('oglas', x=oglas.id)
      <a href="{{oglas_url}}" class="ad-link">{{oglas.naslov}}</a><br>
      %if oglas.slika is not None:
      %url_stat = url('static_images',filename=oglas.slika)
      <img src="{{url_stat}}" alt="Prodajalec ni priložil nobene slike." style="max-width:100px;width:100%">
      %end
      %if oglas.opis is not None:
        %if len(oglas.opis) > 50:
            %te = oglas.opis[:50]
            %te = te + "..."
            <p>{{te}}</p>                        
        %else:
            <p>{{oglas.opis}}</p>
        %end
      %else:
        <p>Ta oglas je žal brez opisa.</p>
      %end
  %end
  </div>
</div>
