%rebase('osnovna.html', naslov='lasten_profil', stran='lasten_profil')
    


<h2>Pozdravljen {{uporabnik.uporabnisko_ime}}!</h2>
    <div>
        <ul>
            %url_nov_oglas = url('new_ad_post', username=uporabnik.uporabnisko_ime)
            <li><a href="{{url_nov_oglas}}">Dodaj nov oglas.</a></li>
            <li><a href="">Uredi svoj profil.</a></li>
            <li><a href="">Oglej si sporočila</a></li>
        </ul>
    </div>
    
    <div>
        %for ad in oglasi:
        %new_url = url('oglas', x=ad.id)
        <ul>
            <li><a href="{{new_url}}">{{ad.naslov}}</a></li>
        </ul>
        %end
    </div>

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end