%rebase('osnovna.html', naslov='lasten_profil', stran='lasten_profil')
    


<h2>Pozdravljen {{uporabnik.uporabnisko_ime}}!</h2>
    <div>
        <ul>
            <li><a href="">Oglej si sporočila.</a></li>
            <li><a href="">Uredi svoj profil.</a></li>
            <li><a href="">Dodaj nov oglas.</a></li>
        </ul>
    </div>
    
    <div>
        %for oglas in oglasi:
        <ul>
            <li><a href="">{{oglas.naslov}}</a></li>
        </ul>
        %end
    </div>

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end