<!DOCTYPE html>
<html>

<body>
    %rebase('osnovna.html')

    %c_link = '/user/<username>/new_ad'
    %user_ulr_ad = url(c_link, username=uporabnik.uporabnisko_ime)
    <div class="form-container">
        <form action="{{user_ulr_ad}}" method="POST" class="ad-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="naslov">Naslov oglasa:</label>
                <input type="input" class="form-control" name="naslov" placeholder="Katero stvar prodajate danes?">
            </div>

            <div class="form-group">
                <label for="opis">Opis oglasa:</label>
                <input type="input" class="form-control" name="opis" placeholder="Na kratko ali dolgo opišite kaj prodajate.">
            </div>

            <div class="form-group">
                <label for="cena">Cena:</label>
                <input type="number" class="form-control" min="0.00" step="0.01" name="cena">
            </div>

            <div class="form-group">
                <label for="kategorija">Izberite kategorijo:</label>
                <select name="kategorija" id="kategorija" class="form-control">
                    %for kategorija in kategorije:
                    <option value="{{kategorija.id}}">{{kategorija.opis}}</option>
                    %end
                </select>
            </div>

            <div class="form-group">
                <label for="slika">Naloži sliko:</label>
                <input type="file" id="slika" name="slika" accept="image/*" class="form-control-file">
            </div>

            <button type="submit" class="btn btn-primary">Objavi oglas</button>
        </form>

        %if napaka:
        <p class="opozorilo">{{napaka}}</p>
        %end
    </div>
    <br>
    %url_sporocila = url('user', username=uporabnik.uporabnisko_ime)
    <a href="{{url_sporocila}}" class="btn btn-primary">Nazaj na profil</a>
</body>
</html>
