%rebase('osnovna.html', naslov='oglas', stran='oglas')
%if oglas==None:
    <p>Ta oglas žal več ne obstaja. Nazaj na <a href="{{url('/')}}" >domačo stran.</a></p>
%else:
    <h2>{{oglas.naslov}}</h2>
    <div>
        <p>{{oglas.opis}}</p>
        %if oglas.slika is not None:
            %url_stat = url('static_images',filename=oglas.slika)
            <img src="{{url_stat}}" alt="Prodajalec ni priložil nobene slike." style="max-width:300px;width:100%">
        %end
    </div>
    <div>
    <form action="" method="POST" style="width:60%">
        <div class="form-group">
            <label for="sporocilo">Se zanimate za nakup? Prodajalcu pošljite sporočilo tu:</label>
            <input type="text" class="form-control" name="sporocilo" placeholder="Vaše sporočilo">
        </div>
         
        <button type="submit" class="btn btn-primary">Pošlji</button>
    </form>
    %user_url = url('user', username=oglas.prodajalec)
    <p>Te zanima še kakšen oglas uporabnika {{oglas.prodajalec}}? <a href="{{user_url}}">Tu</a> si lahko ogledaš še preostale.</p>
    </div>
%end
%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end