<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spletna prodajalna Uš</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">     
          <a class="nav-link active" href="{{url('/')}}">Domača stran</a>
          %if uporabnik is not None:
          %user_url = url('user', username=uporabnik.uporabnisko_ime)
          <a class="nav-link" href="{{user_url}}">Uredi svoj profil</a>
          <a class="dropdown-item" href="{{url('/logout')}}">Odjava</a>          
          %end
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        </div>

       
        

         
      
      </nav>
<br>
  <div class="container">   
    {{!base}}
  </div>


</body>
</html>