<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spletna prodajalna Uš</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">     
          
          %if stran=='index':
          <a class="nav-link active" href="{{url('/')}}">Domača stran</a>
          %else:
          <a class="nav-link" href="{{url('/')}}">Domača stran</a>
          %end

          %if stran=='oglas':
          <a class="nav-link active" href="{{url('/')}}">Osebe</a>
          %else:
          <a class="nav-link" href="{{url('/')}}">Osebe</a>
          %end  

        
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

          <ul class="navbar-nav ml-auto">
            % if True:
            <span class="navbar-text">
              Uporabnik
            </span>   
            % end
          </ul>
        </div>

        
       
        

         
      
      </nav>
<br>
  <div class="container">   
    {{!base}}
  </div>


</body>
</html>