<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ime}} {{priimek}}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Profil uporabika/ce {{ime}}</h1>
        <div class="profile-info">
            <p><label>Kraj bivanja</label>Nekje lepo</p>
        </div>
    </div>
</body>
</html>