<!DOCTYPE html>
<html>
<body>
    %rebase('osnovna.html')

    <div class="search-results-container">
        %if oglasi == []:
            <p class="no-results">Oglasov v tej kategoriji ni.</p>
        %elif oglasi is not None:
            <div class="ads-list">
                %for oglas in oglasi:
                    %oglas_url= url('oglas', x=oglas.id)
                    <a href="{{oglas_url}}" class="ad-link">{{oglas.naslov}}</a><br>
                    %if oglas.slika is not None:
                    %url_stat = url('static_images',filename=oglas.slika)
                    <img src="{{url_stat}}" alt="Prodajalec ni priložil nobene slike." style="max-width:100px;width:100%">
                    %end
                    %if oglas.opis is not None:
                        %if len(oglas.opis) > 50:
                            %te = oglas.opis[:50]
                            %te = te + "..."
                            <p>{{te}}</p>                        
                        %else:
                            <p>{{oglas.opis}}</p>
                        %end
                    %else:
                        <p>Ta oglas je žal brez opisa.</p>
                    %end
                %end
            </div>
        %end
    </div>
</body>
<br>
<a class="btn btn-primary" href="{{url('/search_cat')}}">Nazaj na kategorije</a>  

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
  <p>Nazaj na <a href="{{url('/')}}">domačo stran.</a></p>
%end


</html>